extends ../layout/main

block variables
  - const title = 'Lenta.life | Статья';
  - const description = 'Lenta.life description';
  - const pageClass = 'article-page';
  - const textNews = {"tag": {"title": "Лучшее за неделю","className": "_yellow"},"items": [{"title": "Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой","date": "14.10.2020","views": "756"},{"title": "А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты","date": "14.10.2020","views": "756"},{"title": "Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой","date": "14.10.2020","views": "756"},{"title": "А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты","date": "14.10.2020","views": "756"},{"title": "Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой","date": "14.10.2020","views": "756"}]};
  - const articleContents = {"className": "_only-title", "tag": {"title": "В этой статье","className": "_no-bg"},"items": [{"title": "1. Действительно ли существуют гипоаллергенные собаки"},{"title": "2. Как выбрать собаку"},{"title": "3. На каких жесткошёрстных собак обратить внимание"},{"title": "4. На каких длинношёрстных собак обратить внимание"},{"title": "5. На каких курчавых собак обратить внимание"},{"title": "6. На каких собак с нетипичной шерстью обратить внимание"},{"title": "7. На каких голых собак обратить внимание"},{"title": "8. Как аллергику жить с собакой"}]};
  - const newsBlock1 = {"className": "_block1","items": [{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_wide _full-img _text-w-line","img": "assets/img/news/1.png","tag": {"title": "Лучшее","className": "_yellow"}},{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_full-img","img": "assets/img/news/2.png"},{"title": "Невероятный рецепт вкусного куриного пирога с сыром","type": "_full-img","img": "assets/img/news/3.png"}]};
  - const newsBlock2 = {"className": "_block2","items": [{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_w-padding","img": "assets/img/news/4.png","tag": {"title": "Здоровье","className": "_pink"}},{"title": "10 приложений с которыми вы забудете о пластиковых картах скидок","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_w-padding","img": "assets/img/news/5.png","tag": {"title": "Технологии","className": "_blue"}},{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_w-padding","img": "assets/img/news/6.png","tag": {"title": "Еда","className": "_orange"}},{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_full-img","img": "assets/img/news/2.png"},{"title": "Невероятный рецепт вкусного куриного пирога с сыром","type": "_full-img","img": "assets/img/news/3.png"},{"title": "10 приложений с которыми вы забудете о пластиковых картах скидок","type": "_text-only _text-w-line","tag": {"title": "Лучшее","className": "_yellow"}}]};
  - const newsBlock3 = {"className": "block3","items": [{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "assets/img/news/7.png","tag": {"title": "Здоровье","className": "_pink"}},{"title": "Как сделать антисептик для рук, который точно работает","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "assets/img/news/8.png","tag": {"title": "Здоровье","className": "_blue"}},{"title": "Жизнь по протоколу в Царской России: что должен был сделать кавалер после танца с дамой","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "assets/img/news/9.png","tag": {"title": "Здоровье","className": "_orange"}},{"title": "Как сделать антисептик для рук, который точно работает","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line","img": "assets/img/news/10.png","tag": {"title": "Здоровье","className": "_blue"}},]};
  - const newsBlock4 = {"className": "_block1","items": [{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_full-img","img": "assets/img/news/2.png"}, {"title": "Невероятный рецепт вкусного куриного пирога с сыром","type": "_full-img","img": "assets/img/news/3.png"},{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_wide _full-img _text-w-line","img": "assets/img/news/1.png","tag": {"title": "Лучшее", "className": "_yellow"}}]};
  - const newsBlock11 = {"className": "_block1","items": [{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_full-img","img": "assets/img/news/2.png"},{"title": "Невероятный рецепт вкусного куриного пирога с сыром","type": "_full-img","img": "assets/img/news/3.png"},{"title": "10 приложений, с которыми вы забудете о пластиковых картах скидок","type": "_2-col-img _wide _full-img _text-w-line","img": "assets/img/news/1.png","tag": {"title": "Лучшее","className": "_yellow"}}]};

block content
  .container
    section.section
      +commercial('_top', 'Реклама')
    .article
      .article-intro
        .article-intro__meta
          +author-block('assets/img/author.png', 'Владимир Никитенко', '14.10.2020', '756', '_article-intro')
          .article-intro__tags
            +news-tag('Здоровье', '_pink')
            +news-tag('Хобби', '_blue')
        .article-intro__title= '22 гипоаллергенные породы собак для тех, кто не может жить без питомца'
        .article-intro__description= 'Если вы чихаете на немецкую овчарку, это ещё не значит, что вы не сможете завести домашнее животное. Скажем сразу, полностью гипоаллергенных пород нет. Но есть собаки, которые могут вызвать меньше симптомов, чем другие.'
      .article-author
        include ../includes/modules/author-block
      .article-image
        picture
          source(srcset='assets/img/article/article1.png.webp', type='image/webp')
          img(src='assets/img/article/article1.png', alt='')
        .img-desc= 'Фото: shutterstock.com'
      .article-lenta
        +news-text(textNews)

      .article-left
        +news-text(articleContents)
        +commercial('_aside', 'Реклама')

      .article-content
        .article-content__img
          picture
            source(srcset='assets/img/article/article1.png.webp', type='image/webp')
            img(src='assets/img/article/article1.png', alt='')
          .img-desc= 'Фото: shutterstock.com'
        .article-content__description= 'Если вы чихаете на немецкую овчарку, это ещё не значит, что вы не сможете завести домашнее животное. Скажем сразу, полностью гипоаллергенных пород нет. Но есть собаки, которые могут вызвать меньше симптомов, чем другие.'
        h2.h2= 'Действительно ли существуют гипоаллергенные собаки'
        p= 'Скажем сразу, полностью гипоаллергенных пород нет. Но есть собаки, которые могут вызвать меньше симптомов, чем другие. Но проблема вовсе не в шерсти, а в белках Can f 1, Can f 2 и Can f 5. Они распространяются со слюной, мочой и перхотью животных. Управлять первыми двумя источниками возбудителей не получится. С перхотью всё проще. У условно гипоаллергенных собак её столько же, но, в отличие от остальных пород, они не разносят частички кожи по всему дому вместе с волосками. В воздух аллергены попадают в основном, когда животное вылизывается. Непосредственно к человеку — если он погладит собаку или пёс лизнёт его.'
        .quote
          .quote-title= '«Породы, которые раньше считались «гипоаллергенными», на самом деле могут вызвать меньшую реакцию из-за того, что почти не линяют, отличаются особой шерстью или вовсе её не имеют»'
          .quote-author
            b= 'Джерри Кляйн, '
            span= 'ветеринарный врач'
        p= 'Если вы подозреваете у себя аллергию на собак, это не значит, что не сможете взять в дом питомца. Насморк или зуд иногда не имеют отношения к животным. До 80% людей реагируют сразу на несколько раздражителей. И симптомы от них могут усугублять друг друга. Например, если вы чихаете на пыльцу и собак, возможно, стоит устранить первый триггер, и тогда признаки аллергии на животных не будут проявляться.'
        p= 'Точно определить аллергены помогает анализ крови. Иногда симптомы вызывает только белок Can f 5, который вырабатывают кобели. До 30% людей с чувствительностью к этому раздражителю могут жить с самками или кастрированными самцами.'
        picture
          source(srcset='assets/img/article/article2.png.webp', type='image/webp')
          img(src='assets/img/article/article2.png', alt='')
        .img-desc= 'Фото: shutterstock.com'
        p= 'Если вы подозреваете у себя аллергию на собак, это не значит, что не сможете взять в дом питомца. Насморк или зуд иногда не имеют отношения к животным. До 80% людей реагируют сразу на несколько раздражителей. И симптомы от них могут усугублять друг друга. Например, если вы чихаете на пыльцу и собак, возможно, стоит устранить первый триггер, и тогда признаки аллергии на животных не будут проявляться.'
        +news-item('_wide _w-padding _one-line _w-shadow _', 'Как сделать антисептик для рук, который точно работает', 'assets/img/news/7.png', 'Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу', {"title": "Здоровье","className": "_pink"})
        h2.h2= 'На каких жесткошёрстных собак обратить внимание в первую очередь'
        p= 'Шерсть этих собак не линяет и не вычёсывается. Прочные волосы остаются в коже даже после отмирания. Раз в полгода их нужно выщипывать, иначе у животного появится раздражение.'
        ul._2cols
          li= 'Шнауцеры'
          li= 'Эрдельтерьер'
          li= 'Вельштерьер'
          li= 'Джек-рассел-терьер'
          li= 'Фокстерьер'
          li= 'Шнауцеры'
          li= 'Эрдельтерьер'
          li= 'Вельштерьер'
          li= 'Джек-рассел-терьер'
          li= 'Фокстерьер'
        h2.h2= 'Шнауцеры'
        p= 'Существует три разновидности шнауцеров, которые различаются размерами: гигантский, или ризеншнауцер; стандартный, или миттельшнауцер; миниатюрный, или цвергшнауцер. Эти собаки быстро осваивают команды и хорошо ладят с людьми. Продолжительность жизни Standard Schnauzer  — 13–16 лет.'
        picture
          source(srcset='assets/img/article/article3.png.webp', type='image/webp')
          img(src='assets/img/article/article3.png', alt='')
        .img-desc= 'Фото: shutterstock.com'
        h2.h2= 'Скотч-терьер'
        p= 'Существует три разновидности шнауцеров, которые различаются размерами: гигантский, или ризеншнауцер; стандартный, или миттельшнауцер; миниатюрный, или цвергшнауцер. Эти собаки быстро осваивают команды и хорошо ладят с людьми. Продолжительность жизни Standard Schnauzer  — 13–16 лет.'
        .article-content__bottom
          .article-content__bottom-tags
            +news-tag('#здоровье', '_grey')
            +news-tag('#здоровье', '_grey')
            +news-tag('#здоровье', '_grey')
          .article-content__bottom-soc
            picture
              source(srcset='assets/img/article-socials.png.webp', type='image/webp')
              img(src='assets/img/article-socials.png', alt='')

      .article-right
        +commercial('_aside', 'Реклама')
        +commercial('_aside', 'Реклама')

    section.section
      +commercial('_center  ', 'Реклама')

    section.news._block2
      each item in newsBlock11.items
        +news-item(item.type, item.title, item.img, item.text, item.tag)
    .article-list
      .article-list__content
        include ../includes/modules/article-after
      .article-list__aside
        +commercial('_aside', 'Реклама')
        +commercial('_aside', 'Реклама')
