extends ../layout/main

block variables
  - const title = 'Lenta.life | Персона';
  - const description = 'Lenta.life description';
  - const pageClass = 'article-page';
  - const textNews = {"tag": {"title": "Упоминания в новостях","className": "_yellow"},"items": [{"title": "Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой","date": "14.10.2020","views": "756"},{"title": "А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты","date": "14.10.2020","views": "756"},{"title": "Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой","date": "14.10.2020","views": "756"},{"title": "А что, так можно было? Простые рецепты фаршированной картошки, которые сэкономят время у плиты","date": "14.10.2020","views": "756"},{"title": "Тёплый AliExpress: 15 товаров, без которых не обойтись осенью и зимой","date": "14.10.2020","views": "756"}]};
  - const articleContents = {"className": "_only-title", "tag": {"title": "Содержание","className": "_no-bg"},"items": [{"title": "1. Биография"},{"title": "2. Карьера"},{"title": "3. Фильмография"},{"title": "4. Политическая жизнь"},{"title": "5. Личная жизнь"}]};
  - const newsBlock4 = {"className": "block3","items": [{"title": "Можно купить iPhone 12 со скидкой? Нет, мошенники обманывают с помощью фейкового магазина","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line _left_2_col","img": "assets/img/article/article14.png","tag": {"title": "Знаменитости","className": "_blue"}},{"title": "Перешли с iPhone 7 на SE (2020). Зачем менять смартфон на почти такой же?","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line _right_2_col","img": "assets/img/article/article15.png","tag": {"title": "Знаменитости","className": "_blue"}},{"title": "Миллиардный iPhone нашёл своего покупателя, но всё не так радужно","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line _left_2_col","img": "assets/img/article/article16.png","tag": {"title": "Общество","className": "_pink"}},{"title": "Охота за \"яблоком\". Сколько стоит новый iPhone в разных странах","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line _right_2_col","img": "assets/img/news/5.png","tag": {"title": "Шоппинг","className": "_orange"}},{"title": "Можно купить iPhone 12 со скидкой? Нет, мошенники обманывают с помощью фейкового магазина","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line _left_2_col","img": "assets/img/article/article17.png","tag": {"title": "Технологии","className": "_blue"}},{"title": "Перешли с iPhone 7 на SE (2020). Зачем менять смартфон на почти такой же?","text": "Русскоязычный Netflix расстроил зрителей нелепым переводом и удаленными шоу","type": "_wide _w-padding _one-line _right_2_col","img": "assets/img/article/article18.png","tag": {"title": "Технологии","className": "_blue"}}]};

block content
  .container
    section.section
      +commercial('_top', 'Реклама')
    .article._persona
      .article-intro
        .article-intro__preview
          picture
            source(srcset='assets/img/persona-main.png.webp', type='image/webp')
            img(src='assets/img/persona-main.png', alt='')
        .article-intro__main
          .article-intro__title
            | Ксения Собчак -
            br
            | главные новости о персоне
          .article-intro__description
            | Журналист, общественный деятель, актриса,
            br
            | теле- и радиоведущая
        .article-intro__quote
          | Главное в этой
          br
          | жизни — найти своих и успокоиться!
      .article-left
        +news-intro(articleContents)

      .article-content._first
        h2.h2= 'Биография'
        p
          | Место рождения: г. Ленинград (Санкт-Петербург)
          br
          | Дата рождения: 05.11.1981 г.
          br
          | Знак зодиака: Скорпион

        p= 'В 2002 году Ксения получила диплом бакалавра на факультете международных отношений МГИМО, а в 2004 окончила с отличием магистратуру МГИМО, по направлению политологии. Владеет испанским, французским и английским языками.'

        picture
          source(srcset='assets/img/article/persona.png.webp', type='image/webp')
          img(src='assets/img/article/persona.png', alt='')

      .article-lenta
        +news-text(textNews)

      .article-left._no-gap
        +commercial('_aside', 'Реклама')

      .article-content._no-gap
        .img-desc= 'Фото: shutterstock.com'
        h2.h2= 'Карьера'
        p= 'Следующей целью, после того, как Ксения получила достойное образование, была популярность. Популярность не как дочери известных родителей, а ее личная!'
        p= 'Одной из первых таких площадок для старта явилось неоднозначное, скорее скандальное реалити-шоу «Дом-2», где девушка предстала в роли ведущей. Через тернии к звездам, а также огромный шквал критики и осуждений, Ксения, как стойкий оловянный солдатик, отстаивала свои оригинальные мысли и поступки, спотыкалась и падала, но достойно поднималась, чем впоследствии, вполне заслуженно, обрела большое количество поклонников. С ростом ее популярности и повышенным интересом к ее персоне, Ксению приглашают в роли ведущей на такие программы и шоу, как:'
        p
          | «Последний герой» и «Две звезды» на первом канале;
          br
          | «Блондинка в шоколаде», «Топ-модель по-русски» и Премия на Муз-ТВ;
          br
          | «Будни Барабаки» и «Барабака и серый волк» на радиостанции Серебряный дождь;
          br
          | «Кто не хочет стать миллионером» на канале ТНТ;
          br
          | «Гостеп с Ксенией Собчак» на канале MTV и многие другие…
        h2.h2= 'Личная жизнь'
        p= 'В феврале 2013 года, в строжайшей секретности не только от СМИ, но и от многочисленных друзей, Ксения Собчак вышла замуж за актера Максима Виторгана, о чем молодожены объявили спустя некоторое время.'
        p= 'В конце 2018 года в прессе появилась информация о том, что Собчак фактически рассталась с Виторганом. Демонстративность отношений замужней Собчак с театральным режиссёром Константином Богомоловым, с которым Собчак появляется на публике, активно обсуждалась в прессе[223]. 21 января 2019 года двусмысленная ситуация стала причиной драки между Виторганом и Богомоловым[224]. «Женщина имеет право выглядеть так, как она хочет. Работать тем, кем она хочет. Спать и жить с тем, с кем она хочет», — комментируя события, пояснила Ксения свою житейскую философию в интервью Первому каналу. Вместе с тем Собчак отметила, что Виторган навсегда останется для неё родным и близким человеком[225]. 8 марта 2019 года Собчак и Виторган подтвердили, что давно живут раздельно, но продолжают вместе воспитывать сына[226]. Экс-супруги оставят мальчику двойную фамилию: Виторган-Собчак.[227]'

        .article-content__bottom
          .article-content__bottom-tags
            +news-tag('#здоровье', '_grey')
            +news-tag('#питомцы', '_grey')
            +news-tag('#хобби', '_grey')
          .article-content__bottom-soc
            img(src='assets/img/article-socials.png')

      .article-right._no-gap
        +commercial('_aside', 'Реклама')
        +commercial('_aside', 'Реклама')

    .article-title.h2.title= 'Ксения Собчак упоминается в статьях:'

    section.news
      each item in newsBlock4.items
        +news-item(item.type, item.title, item.img, item.text, item.tag)

    section.section
      +commercial('_center', 'Реклама')
